* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3c4854; /* New background color */
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #ecf0f1; /* New font color */
  background-color: #e74c3c; /* New background color */
}
.o-color{
  color: rgb(13, 12, 11);
}

.x-color{
  color: beige;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #111a23; /* New background color */
  color: #ffffff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #27ae60; /* New background color */
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ecf0f1; /* New font color */
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
#head{
  font-size: 4em;
  color: #ecf0f1;
}
#head1{
  font-size: 5em;
  color: #ecf0f1;
}